{% extends 'base.html.twig' %}

{% block title %}Villes index{% endblock %}

{% block body %}
    <h1>Villes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Departement_code</th>
                <th>Insee_code</th>
                <th>Zip_code</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Gps_lat</th>
                <th>Gps_Ing</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.departementCode }}</td>
                <td>{{ ville.inseeCode }}</td>
                <td>{{ ville.zipCode }}</td>
                <td>{{ ville.name }}</td>
                <td>{{ ville.slug }}</td>
                <td>{{ ville.gpsLat }}</td>
                <td>{{ ville.gpsIng }}</td>
                <td>
                    <a href="{{ path('villes_show', {'id': ville.id}) }}">show</a>
                    <a href="{{ path('villes_edit', {'id': ville.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('villes_new') }}">Create new</a>
{% endblock %}
